fastapi==0.115.12
python-multipart==0.0.20
opencv_python==4.11.0.86
pydantic==2.11.3
ultralytics==8.3.103
ultralytics-thop==2.0.14
uvicorn==0.34.2
pandas==2.2.3
torch==2.5.0
torchvision==0.20.0
requests==2.32.3
scipy==1.15.2
seaborn==0.13.2
